@use './media' as *;

// 화면 크기에 따른 요소 표시/숨김 유틸리티
.show-mobile {
    display: none !important;

    @include mobile {
        display: block !important;
    }
}

.hide-mobile {
    @include mobile {
        display: none !important;
    }
}

.show-tablet {
    display: none !important;

    @include tablet {
        display: block !important;
    }
}

.hide-tablet {
    @include tablet {
        display: none !important;
    }
}

.show-desktop {
    display: none !important;

    @include desktop {
        display: block !important;
    }
}

.hide-desktop {
    @include desktop {
        display: none !important;
    }
}